*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    height: 100vh;
    background: linear-gradient(to bottom, #EFCC68,#F6F6F6 , #393939);
}

.land{
    height: 30%;
    width: 32%;
    background-color: rgb(153, 153, 197);
    position: absolute;
    bottom: 0px;

    border-top: 15px solid teal;
}

.right-land{
    right: 0px;
}

.boat{
    position: absolute;
    bottom: 25%;
}

.boat .positionOne{
    position: absolute;
    bottom: 60px;
}

.boat .positionTwo{
    position: absolute;
    bottom: 60px;
    left: 130px;
}

.boat-left{
    left: 30%;
}

.boat-right{
    right: 45%;
}
/* 
.move-right{
    animation: moveRight 1s ease-in-out;
}

@keyframes moveRight {
    from {
      left: 30%;
    }
    to {
      left: 60%;
    }
} */

.monstors{
    display: flex;
    gap: 10px;
    
    position: absolute;
    bottom: 28%;
}

.monstors-left{
    left: 0;
}

.monstors-right{
    right: 17%;
}

.monstor img{
    height: 90px;
}

.mans{
    display: flex;
    gap: 10px;
    
    position: absolute;
    bottom: 28%;
}

.mans-left{
    left: 17%;
}

.mans-right{
    right: 0;
}

.man img{
    height: 90px;
}

.input-container{
    position: absolute;
    bottom: 5%;
    left: 45%;
}

.model{
    position: absolute;
    height: 100vh;
    width: 100%;
    background-color: red;
    opacity: 30%;
    z-index: 1;
}

.model-container{
    position: absolute;
    left: 40%;
    bottom: 50%;
    z-index: 10;
    width: 300px;
    text-align: center;
    background-color: white;
    border-radius: 5px;
    padding: 15px;
}

.hidden{
    display: none;
}

#cy {
    width: 20%;
    height: 95vh;
    display: block;
    border: 2px solid hotpink;
}