*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    height: 100vh;
    background: linear-gradient(to bottom, #EFCC68,#F6F6F6 , #393939);
}


.main-heading{
    font-family: 'Rancho';
    font-size: 68px;
    line-height: 0.8;
    margin: 0;
    position: absolute;
    left: 38%;
    top: 5%;
}

.land{
    height: 30%;
    width: 32%;
    background-color: rgb(153, 153, 197);
    position: absolute;
    bottom: 0px;

    border-top: 15px solid teal;
}

.right-land{
    right: 0px;
}

.boat{
    position: absolute;
    bottom: 25%;
}

.boat .positionOne{
    position: absolute;
    bottom: 35px;
}

.boat .positionTwo{
    position: absolute;
    bottom: 38px;
    left: 130px;
}

.boat-left{
    left: 32%;
}

.boat-right{
    right: 46%;
}

.water{
    position: absolute;
    bottom: 0;
    left: 31.9%;
}

.water-img{
    height: 220px;
    width: 552px;
}
/* 
.move-right{
    animation: moveRight 1s ease-in-out;
}

@keyframes moveRight {
    from {
      left: 30%;
    }
    to {
      left: 60%;
    }
} */

.monstors{
    display: flex;
    gap: 10px;
    
    position: absolute;
    bottom: 28%;
}

.monstors-left{
    left: 0;
}

.monstors-right{
    right: 17%;
}

.monstor img{
    height: 90px;
}

.mans{
    display: flex;
    gap: 10px;
    
    position: absolute;
    bottom: 28%;
}

.mans-left{
    left: 17%;
}

.mans-right{
    right: 0;
}

.man img{
    height: 90px;
}

.input-container{
    position: absolute;
    bottom: 5%;
    left: 45%;
}

.model{
    position: absolute;
    height: 100vh;
    width: 100%;
    background-color: red;
    opacity: 30%;
    z-index: 1;
}

.model-container{
    position: absolute;
    left: 40%;
    bottom: 50%;
    z-index: 10;
    width: 300px;
    text-align: center;
    background-color: white;
    border-radius: 5px;
    padding: 15px;
}

.hidden{
    display: none;
}

#actionInput{
    padding: 5px;
    border: none;
    border-radius: 5px;
}

.submit-btn{
    padding: 5px;
    border: none;
    border-radius: 2px;
    color: white;
    font-family: sans-serif;
    background-color: black;
}

.submit-btn:hover{
    cursor: pointer;
}

.submit-btn:active{
    scale: 105%;
}

.btn-enlarge{
    position: absolute;
    right: 0;
    padding: 5px;
    z-index: 1000;
}

#cy {
    width: 20%;
    height: 65vh;
    display: block;
    border: 2px solid whitesmoke;
    border-radius: 5px;
    position: absolute;
    right: 0;
}